.tori {
  margin-top: 0;
  text-align: center;
  border-style: solid;
  margin-right: 13%;
  margin-left: 13%;
  border-color: lightgray;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 3%;
}

.header-content {
  display:table-row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  font-size: large;
}


.search-text {
  width: 300px;
  padding: 8px;
  margin: 4px;
  font-size: 16px;
  border-radius: 7px;
  border-style: solid;
  border-color: lightgray;
  min-height: 26px;
}

.what {
  width: 300px;
  padding: 8px; 
  margin: 4px; 
  font-size: 16px; 
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  min-width: 80px;
}
.where {
  width: 200px;
  padding: 8px; 
  margin: 4px;
  font-size: 16px; 
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  min-width: 80px;
}

.what {
  margin-left: 4px;
  font-size: large;
}

.where {
  margin-left: 4px;
  font-size: large;
}

.search-button {
  border-width: 0;
  background-color:royalblue;
  color: white;
  border-radius: 7px;
  font-size: large;
  font-weight: 700;
  min-width: 100px;
  min-height: 50px;
}

.checkboxes-and-button {
  display:table-row;
  align-items: center;
  justify-content:space-around;
  width: 100%;
  font-size: large;
}

.check {
  margin-left: 15px;
}

.save-search {
  margin-left: 525px;
  margin-right: 15px;
  color: royalblue;
  font-weight: 700;
  font-size: large;
  border-style: none;
}
